<!-- Site Footer -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="collapse navbar-collapse" id="FooterNavbarToggler">
      <span class="navbar-text">
        &copy; 2017 THIRTYJIN. All rights reserved.
      </span>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.github.url }}" target="_blank">Github</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.site_url }}" target="_blank" data-toggle="tooltip" data-placement="top" title="博客" >博客 </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.site_url }}/dux_charts/" target="_blank" data-toggle="tooltip" data-placement="top" title="ONE 数据图表库" >ONE 图表库</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.site_url }}/dux_icons/" target="_blank" data-toggle="tooltip" data-placement="top" title="ONE 图标库" >ONE 标局</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.site_url }}/dux_libs/" target="_blank" data-toggle="tooltip" data-placement="top" title="ONE 工具设计库" >ONE 设计库</a>
        </li>
      </ul>
    </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#FooterNavbarToggler" aria-controls="FooterNavbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  </div>
</nav>
<!-- Site Footer End -->

{% include tongji-analytics.html %}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="{{ site.baseurl }}/assets/js/jquery-3.2.1.min.js"></script>
<script src="https://unpkg.com/popper.js"></script>
<script src="{{ site.baseurl }}/assets/bootstrap-4.0.0-beta.2-dist/js/bootstrap.min.js" ></script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script>
