<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="transferMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    more
  </a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="transferMenuLink">
    <a class="dropdown-item" href="{{ site.site_url }}" target="_blank">BLOG</a>
    <a class="dropdown-item" href="{{ site.site_url }}/dux_icons/" target="_blank">DUX ICONS</a>
    <a class="dropdown-item" href="{{ site.site_url }}/dux_charts/" target="_blank">DUX CHARTS</a>
    <a class="dropdown-item" href="{{ site.site_url }}/dux_libs/" target="_blank">DUX Libs</a>
  </div>
</li>
