
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Navbar content -->
  <a class="navbar-brand" href="{{ "/" | relative_url }}">THIRTYJIN <sup>2018</sup></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">

      <!-- <li class="nav-item">
        <a class="nav-link {% if page.navbar_active == "home" %} active{% endif %} " href="index.html">通用图标 <span id="allsum" class="badge badge-pill badge-light" title="图标总数"></span></a>
      </li>     -->

      <li class="nav-item {% if page.navbar_active == "home" %} active{% endif %} "><a class="nav-link" href="{{ "/" | relative_url }}">博客首页</a></li>

    </ul>

    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="{{ site.github.url}}/issues" target="_blank">需求+反馈</a></li>
      {% include navbar-transfer-menu.html %}
    </ul>
  </div>
</nav>
