<section class="container-fluid">
    <div class="row">
      <div id="blog" class="col-12 col-md-7 align-self-center">
        <div class="card bg-dark text-white mb-4">
          <div class="card-body">
            <div class="row justify-content-center" style="min-height:320px">
            <div class="col-12 col-md-10 align-self-center">
            <h1 class="card-title text-white">BLOG</h1>
            <p class="card-text pb-3">
              I have been blogging for many years, and there will be some unscheduled records of my thinking and discovery.<br>
            But the content is very fragmented. 😂</p>
            <a href="{{ site.site_url}}/blog/" class="card-link text-light" target="_blank"><small>Launch Blog</small></a>
            </div>
            </div>
          </div>
        </div>
      </div>
        <div id="bigdetail" class="col-12 col-md-5 align-self-center">
          <div class="card bg-light text-dark mb-4">
            <div class="card-body">
              <div class="row justify-content-center" style="min-height:320px">
              <div class="col-12 col-md-10 align-self-center">
              <h1 class="card-title ">Big Details </h1>
              <p class="card-text pb-3">This blogging column will collect and record surprising product details.<br>
                The devil is in the details!</p>
              <a href="{{ site.site_url}}/blog/?cat=106" class="card-link " target="_blank"><small>View details</small></a>
              </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
