<section id="contact" class="container-fluid mb-5">
  <div class="card bg-white">
    <div class="container card-body">
      <div class="row">
          <div class="col-12 col-md-5 pb-4 align-self-center">
            <h1>Contact <span>Me</span></h1>
            <p class="text-muted">Looking forward to further communication.</p>
          </div>
          <div class="col-12 col-md-7">
            <p class="text-muted">Email: <a href="{{ site.contact.email }}" class="card-link" target="_blank">thirty.jin@gmail.com</a></p>
            <p class="text-muted">Site: <a href="{{ site.site_url }}" class="card-link" target="_blank">thirtyjin.com</a></p>
            <p class="list-inline text-muted">Social:
            <a class="list-inline-item" href="{{ site.contact.weibo }}" target="_blank">Weibo</a> //
            <a class="list-inline-item" href="{{ site.contact.twitter }}" target="_blank">Twitter</a> //
            <a class="list-inline-item" href="{{ site.contact.facebook }}" target="_blank">Facebook</a> //
            <a class="list-inline-item" href="{{ site.contact.dribbble }}" target="_blank">Dribbble</a> //
            <a class="list-inline-item" href="{{ site.contact.linkedin }}" target="_blank">Linkedin</a>
            </p>
          </div>

      </div>
    </div>
  </div>
</section>
