<section id="whoami" class="container-fluid mb-4">
  <div class="card bg-white">
    <div class="container">
      <div class="row">
          <div class="col-12 col-md-6 card-body align-self-center">
              <h1>Hi, I'm <span>THIRTYJIN</span>,</h1>
              <p class="text-muted"><em>Now living in Beijing, China.</em></p>
              <h1>I'm an UX Designer & Manager,</h1>
              <p class="text-muted"><em>Working at Baidu UXC. </em></p>
              <h1>I have a wish … </h1>
              <p class="text-muted"><em>That is<del> Hello </del> World Peace !</em></p>
          </div>
          <div id="portrait" class="col-12 col-md-6 pt-4 text-center align-self-end">
            <!-- <img class="img-fluid" src="./assets/img/my_portrait.png" alt="Card image"> -->
          </div>

      </div>
    </div>
  </div>
</section>
