
{% include sidebar.html %}
<!-- Site Footer -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
      <span class="navbar-text mx-auto">
        &copy; 2018 THIRTYJIN. All rights reserved. | 由百度云提供计算服务
      </span>
  </div>
</nav>
<!-- Site Footer End -->



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ site.baseurl }}/assets/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
<script src="{{ site.baseurl }}/assets/popper/1.14.3/popper.min.js" charset="utf-8"></script>
<script src="{{ site.baseurl }}/assets/bootstrap/4.1.3/js/bootstrap.min.js" charset="utf-8"></script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script>

{% include tongji-analytics.html %}
