<section id="duxlibs" class="container-fluid mb-4 ">
  <div class="card bg-black text-white">
    <div class="container card-body">
          <div class="row">
            <div class="col-12 col-md-5 pb-4 align-self-center">
                <h1 class="text-white">DUX <span>Libs</span></h1>
                <h4 class="text-light pb-3">Components libraries for Axure and Sketch.</h4>
                <p class="">Libraries Design // Site Design // Development</p>
                <a href="{{ site.dux.duxlibs }}" class="card-link text-light" target="_blank"><small>Launch Site</small></a>
                <a href="{{ site.dux.duxlibs_git }}" class="card-link text-light" target="_blank"><small>Open Source on GitHub</small></a>
            </div>
            <div class="col-12 col-md-7">
              <!-- <img class="img-fluid" src="./assets/img/stock-photo-171516815.jpg" alt="Card image"> -->
              <img class="img-fluid" src="./assets/img/duxlibs-show.jpg" alt="Card image">
            </div>
          </div>
    </div>
  </div>
</section>
