<section id="duxcharts" class="container-fluid mb-4 ">
  <div class="card text-white">
    <div class="bg-wave">
    <div class="container card-body">
          <div class="row">
            <div class="col-12 col-md-5 pb-4 align-self-center">
                <h1 class="text-white">DUX <span>CHARTS</span></h1>
                <h4 class="text-light pb-3">Beautiful Charts Theme base Echarts.</h4>
                <p class="">Charts Design // Site Design // Development</p>
                <a href="{{ site.dux.duxcharts }}" class="card-link text-light" target="_blank"><small>Launch Site</small></a>
                <a href="{{ site.dux.duxcharts_git }}" class="card-link text-light" target="_blank"><small>Open Source on GitHub</small></a>
            </div>
            <div class="col-12 col-md-7">
              <div id="duxcharts-show" >
              <!-- <img class="img-fluid" src="./assets/img/dux_charts.png" alt="Card image"> -->
              </div>
            </div>
          </div>
    </div>
    </div>
  </div>
</section>
