

<section id="duxicons" class="container-fluid mb-4">
  <div class="card bg-black text-white">
    <div class="container card-body">
          <div class="row">
            <div class="col-12 col-md-5 pb-4 align-self-center">
                <h1 class="text-white">DUX <span>ICONS</span></h1>
                <h4 class="text-muted pb-3">Simply beautiful open source icons.</h4>
                <p class="">Icon Design // Site Design // Development</p>
                <a href="{{ site.dux.duxicons }}" class="card-link text-light" target="_blank"><small>Launch Site</small></a>
                <a href="{{ site.dux.duxicons_git }}" class="card-link text-light" target="_blank"><small>Open Source on GitHub</small></a>
            </div>
            <div class="col-12 col-md-7">
              <div id="duxicons-show" >
              <!-- <img class="img-fluid" src="./assets/img/harpal-singh-396280-unsplash.jpg" alt="Card image"> -->
              </div>
            </div>
          </div>
    </div>
  </div>
</section>
