<section id="portfolio" class="container-fluid mb-4">
  <div class="card bg-light text-dark">
    <div class="container card-body">
      <div class="row">
        <div class="col-12 col-md-5 pb-4 align-self-center">
            <h1 class="text-dark">More <span>Portfolio</span></h1>
            <h4 class="text-dark pb-3">See more project cases I've experienced.</h4>
            <p class="">Interaction Design // Design Management // Project Management</p>
            <a href="{{ site.site_url }}/blog/?post_type=portfolio" class="card-link text-dark" target="_blank"><small>View details</small></a>
        </div>
          <div class="col-12 col-md-7">
            <div id="portfolio-show" >
              <img class="img-fluid" src="./assets/img/more_portfolio.jpg" alt="Card image">
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
